
*{
    box-sizing: 0;
}
    
body{
    width: 100%;
    background-color: #ffffff;
    float: left;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar{
    width: 242px;
    height: 900px;
    background-color: #f5f1f1;
    flex-basis: 15%;
    padding: 15px;
    position: fixed;
    overflow-y: hidden;
}

.menu-1{
    display: flex;
    gap: 05px;
    /* justify-content: space-between; */
    align-items: center;
}

.menu-2{
    display: flex;
    gap: 02px; 
    align-items: center;
}

.menu-3{
    display: flex;
    gap: 02px; 
    align-items: center;
}

.menu-4{
    display: flex;
    gap: 04px; 
    align-items: center;
}

.menu-5{
    display: flex;
    gap: 02px; 
    align-items: center;
}

.menu-6{
    display: flex;
    gap: 02px; 
    align-items: center;
}

.menu-7{
    display: flex;
    gap: 02px; 
    align-items: center;
}

.icon-sidebar{
    padding-right: 15px;
}

.main-menu p{
    color: #686868;
}

.other p{
    color: #686868;
}

.container-principal{
    flex-basis: 85%;
    padding-left: 250px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 70px;
} 

hr{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0;
}

.icon{
    width: 343px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    padding-left: 10px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #FAFAFA;

}


.image{
    width: 60px;
    border-radius: 30px;
}

.right{
    display: flex;
    gap: 20px;
}

.icon-2-container{
    padding-top: 15px;
}

.text h4{
    padding-left: 10px;
}

.img-text{
    display: flex;
}

.container{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 20px 70px;
}

.left{
    flex-basis: 75%;
}

.line-1{
    display: flex;
    justify-content: space-between;
    flex-basis: 75%;
    margin-left: 15px;
    margin-right: 15px;
}

.position{
    width: 170px;
    height: 136px;
    /* top: 166px;
    left: 293px; */
    /* padding: 15px 15px; */
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 16px;
    border-radius: 10px;
    opacity: 0px;
    background-color:  #FFEFE7;
;
;
    ;

}

.job{
    width: 170px;
    height: 136px;
    /* top: 166px;
    left: 293px; */
    padding: 0 15px 30px 15px;
    gap: 16px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #E8F0FB;
}

.new{
    width: 170px;
    height: 136px;
    /* top: 166px;
    left: 293px; */
    padding: 0 15px 30px 15px;
    gap: 16px;
    border-radius: 10px;
    opacity: 0px;
    background-color:  #FDEBF9;
;
}

.line-2{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.t-employees{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: 37.5%;
    border-radius: 05px;
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
}

.graph-1{
    padding-top: 30px;
}



.t-request{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: 37.5%;
    border-radius: 05px;
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
}

.line-3{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 05px;
    margin: 15px;
    padding: 15px;

}

.title{
    display: flex;
    justify-content: space-between;
}

#ville{
    margin-top: 15px;
    margin-right: 15px;
    width: 145px; 
    height: 27px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 05px
}



.anouncement-1{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 05px 15px;
    border-radius: 05px;
    margin-bottom: 10px ;
}

.anouncement-2{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 05px 15px;
    border-radius: 05px;
    margin-bottom: 10px;
}

.anouncement-3{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 02px 15px;
    border-radius: 05px;
    margin-bottom: 10px;
}

.sell{
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    color: #FF5151;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 05px;
    font-size: 12px;
}

.sell-2{
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    color: #FF5151;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 05px;
    font-size: 12px; 
}

.Riight{
    padding-top: 67px;
    flex-basis: 45%;
    margin-left: 15px;
}


.top-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #161E54;
    color: #ffffff;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-bottom: 10px;
    border-radius: 10px;
}

.top-section-title{
    flex-basis: 100%;
}

.top-section h5{
    background-color: #1B204A;
    padding: 10px;
    /* width: 97%; */
    margin: 0;
    border-radius: 10px;     
}

.top-section-container{
    margin: 10px;
}

.top-section-bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

.btn{
    background-color:  #FF5151;
    width:  139px;
    height: 38px;
    /* padding: 0 16px 10px 16px; */
    margin-top: 04px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    color: #ffffff;
    font-weight: 600;

}

.bottom-section{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 05px;
    margin-top: 40px;
    padding: 10px;
}

.bottom-section-title{
    display: flex;
    justify-content: space-between;
}

#date{
    margin-top: 15px;
    background-color: transparent;
    border-color:  rgb(202, 202, 202);
    border-radius: 05px;
}

.priority-container{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 05px;
}

.other-cont-1{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 05px;
    margin-bottom: 10px;
}

.other-cont-2{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 05px;
}

@media(min-width: 480px) and (max-width: 834px){

    *{
        overflow-x: hidden;
    }
    body{
        width: 824px;
        background-color: #ffffff;
        float: left;
        font-family: 'Poppins', sans-serif;
        overflow: hidden;
    }

    .sidebar{
        width: 100px;
        height: 900px;
        background-color: #f5f1f1;
        flex-basis: 05%;
        padding: 15px;
        position: fixed;
        overflow-y: hidden;
    }

    .titre{
        display: none;
    }

    .icon-sidebar{
        align-items: center;
        padding: 20px;
    }
    
    .container-principal{
        flex-basis: 95%;
        padding-left: 100px;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        width: 95%;
        /* justify-content: space-between; */
        margin: 20px 70px;
    }

    .left{
        width: 95%;
    }

    .line-1{
        display: flex;
        justify-content: space-between;
        flex-basis: 95%;
        gap: 1.5625rem;
        margin-left: 15px;
        margin-right: 15px;
    }

   

   

    .Riight{
        padding-top: 67px;
        /* flex-basis: 45%; */
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 480px) {
    .sidebar {
        display: none;
    }

    .container-principal {
        padding-left: 0;
    }

    .header {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 10px 20px;
    }

    .container {
        flex-direction: column;
        margin: 20px 10px;
    }

    .line-1, .line-2 {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .position, .job, .new, .t-employees, .t-request {
        width: 285px;
        margin: 10px 0;
    }

    .the-anouncement{
        width: px;
    }

    .anouncement-1{
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
        align-items: center;
        background-color: #FAFAFA;
        padding: 05px 15px;
        border-radius: 05px;
        margin-bottom: 10px ;
    }

    .anouncement-2{
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
        align-items: center;
        background-color: #FAFAFA;
        padding: 05px 15px;
        border-radius: 05px;
        margin-bottom: 10px ;
    }

    /* .angle-outing{
        margin-top: 50px;
    } */



    .Riight {
        padding-top: 20px;
        margin: 0 10px;
    }

    .top-section, .bottom-section {
        width: 100%;
        margin: 10px 0;
    }
}