@import url("https://fonts.google.com/specimen/Inter");
*{
    box-sizing: 0;

}
body{
    overflow-x: hidden;
    padding: 20px 50px;
    font-family: 'Inter';

}

.navbar{
    display: flex;
    justify-content: space-between;
}


.menu .menu-list{
    display: flex;
    list-style: none;
}

.menu .menu-items{
    padding: 0.5rem 1rem;
}

.links{
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    padding: 05px;
    border-bottom: 02px solid transparent;
    transition: all 0.25s;
}

.links:hover{
    border-bottom: 02px solid #000000;
}

.hero{
    display: flex;
}

.left{
    flex-basis: 75%;
}

.text{
    display: flex;
    gap: 38%;
}

.bright{
    font-weight: 800;
    font-size: 35px;
    font-weight: 800;
}

.paraph{
    font-size: 15px;
    line-height: 25px;
}

button{
    background-color: hsl(5, 85%, 63%);
    padding: 10px;
    border: 0;
    font-weight: 800;
}

p{
    font-size: 15px;
}


.right{
    flex-basis: 25%;
    background-color:hsl(240, 100%, 5%) ;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    height: 475px;
    line-height: 25px;
    
}

.title-right{
    color: hsl(35, 77%, 62%);
}

.img-1{
    width: 95%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
    
}

.grid-1{
    display: flex;
    gap: 1.25rem;
    flex-basis: 37.5%;
}

.grid-2{
    display: flex;
    gap: 1.25rem;
    flex-basis: 37.5%;
}

.grid-3{
    display: flex;
    gap: 1.25rem;
}

.number{
    color: hsl(5, 85%, 63%);
}

@media (max-width: 600px){
    .body{
        overflow-x: hidden;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }

    .img-1{
        width: 250px;
        height: 200px;
    }

    .bright{
        font-weight: 800;
        font-size: 30px;
        font-weight: 800;
    }

    .paraph{
        font-size: 12px;
        line-height: 25px;
    }

    .right{
        flex-basis: 25%;
        background-color:hsl(240, 100%, 5%) ;
        color: #ffffff;
        padding-left: 15px;
        padding-right: 15px;
        height: 475px;
        line-height: 25px;
        font-weight: 12px;
        width: 200px;
        
    }

    .text{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }

    .image{
        width: 50px;
    }

 
}

