
body{
    display: flex;
    justify-content: center;
    background-color: #a4aec5;
    font-family: 'karla';
    overflow: hidden;
    margin: 0;
}
.form{
    padding: 20px;
    background-color: #ffffff;
    /* width: 450px; */
    border-radius: 20px;
    overflow: hidden;
    max-width: 100%; /*New ajouT*/
    
}

.container{
}

form{
    overflow-x: hidden;
    margin-left: 10px;

}
.form-heading{
    padding-bottom: 5px;
}
.this-input{
    width: 176px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}


#email-input{
    width: 375px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
.line-1{
    display: flex;
    gap: 20px;
}

.line-3-1{
    display: flex;
    gap: 15px;
    
}

.input-radio-1{
    border: 1px solid black;
    width: 176px;
    height: 30px;
    text-align: start;
    padding: 2px;
    border-radius: 5px;
}

.input-radio-2{
    border: 1px solid black;
    width: 176px;
    height: 30px;
    padding: 2px;
    border-radius: 5px;

}

textarea{
    width: 375px;
    height: 75px;
    border-radius: 5px;
}

.line-5{
    padding-top: 15px;
    padding-bottom: 15px;
}

button{
    background-color: #182;
    color: #ffffff;
    width: 375px;
    height: 30px;
    border: 0;
    top: 15px;
    border-radius: 5px;
}

@media (max-width: 600px){
    .body{
        overflow-x: hidden;
    }

    .form{
        padding: 20px;
        background-color: #ffffff;
        /* width: 450px; */
        border-radius: 20px;
        margin-top: 70px;
        max-width: 100%; /*NEW AJOUT    */
        
    }

    form{
        padding-left: 30px;
        overflow-x: hidden;
        margin-left: 0;
    
    }
    .line-1{
        display: flex;
        flex-direction: column;
    }

    .this-input{
        width: 320px;
    }

    #email-input{
        width: 320px;
    }

    .line-3-1{
        display: flex;
        flex-direction: column;
    }

    .input-radio-1{
        width: 320px;
    }

    .input-radio-2{
        width: 320px;
    }

    textarea{
        width: 320px;
        height: 100px;
    }

    button{
        width: 320px;
    }

    .this-input, #email-input, .input-radio-1, .input-radio-2, textarea, button {
        width: 320px; /* Modification de la largeur */
        max-width: 100%; /* Limite maximale pour éviter l'overflow */
    }
}

@media (max-width: 403px){
    .body{
        overflow-x: hidden;
    }

    .form{
        padding: 8px;
        background-color: #ffffff;
        /* width: 450px; */
        border-radius: 20px;
        margin-top: 90px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100%; /*NEW AJOUT    */
        
    }

    form{
        padding-left: 30px;
        overflow-x: hidden;
        margin-left: 0;
    
    }
    .line-1{
        display: flex;
        flex-direction: column;
    }

    .this-input{
        width: 40px;
    }

    #email-input{
        width: 20px;
    }

    .line-3-1{
        display: flex;
        flex-direction: column;
    }

    .input-radio-1{
        width: 40px;
    }

    .input-radio-2{
        width: 320px;
    }

    textarea{
        width: 320px;
        height: 100px;
    }

    button{
        width: 320px;
    }

    .this-input, #email-input, .input-radio-1, .input-radio-2, textarea, button {
        width: 275px; /* Modification de la largeur */
        max-width: 100%; /* Limite maximale pour éviter l'overflow */
    }
}



